@import "../../../style/variables.scss";

.button {
    background: white;
    border: 1px solid $primaryColor;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease-out;
    color: $primaryColor;

    &:hover {
        background: $primaryColor;
        color: white;
    }
}